<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectofinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinal">
        <activity
            android:name=".Sucesos_Activity"
            android:label="@string/title_activity_sucesos_"
            android:theme="@style/Theme.ProyectoFinal.NoActionBar"></activity>
        <activity
            android:name=".InvitarGente_Activity"
            android:label="@string/title_activity_invitar_gente_"
            android:theme="@style/Theme.ProyectoFinal.NoActionBar" />
        <activity
            android:name=".EleccionSala_Activity"
            android:label="@string/title_activity_eleccion_sala_"
            android:theme="@style/Theme.ProyectoFinal.NoActionBar"  android:parentActivityName=".PaginaPrincipal_Activity" />
        <activity
            android:name=".SalaPersonal_Activity"
            android:label="@string/title_activity_sala_personal_"
            android:theme="@style/Theme.ProyectoFinal.NoActionBar" />
        <activity
            android:name=".CrearSala_Activity"
            android:label="@string/title_activity_crear_sala_"
            android:theme="@style/Theme.ProyectoFinal.NoActionBar" />
        <activity
            android:name=".PaginaPrincipal_Activity"
            android:label="@string/title_activity_pagina_principal_"
            android:theme="@style/Theme.ProyectoFinal.NoActionBar" />
        <activity android:name=".Registro_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>